---
layout: default
---

<div class="author-page">
    <img src="{{author.img}}"></img>
    
    <h2>{{author.name}}</h2>
    
    <hr/>
    
    <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2 class="post-heading">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} {% if post.author %} by {% if post.authorlink %}<a href="{{post.authorlink}}">{% endif %}{{post.author}}{% if post.authorlink %}</a>{% endif %}{% endif %}</span>
        
        {% if post.img %}
        <img class="post-img" src="{{post.img}}"></img>
        {% endif %}

        {{ post.excerpt }}
        <hr/>
      </li>
    {% endfor %}
  </ul>
</div>