---
layout: default
footer: false
---

<div id="blog-archives" class="author">
    {% assign author = site.data.authors[page.author] %}
    {% if author.img %}
        {% assign author_photo = author.img %}
    {% elsif file_exists {{ "img/authors/" + {{ page.author }} + ".jpg" }} %}
        {% assign author_photo = page.author | append: ".jpg" | prepend: "/img/authors/" | prepend: site.baseurl %}
    {% else %}
        {% assign author_photo = "/img/defaultauthor.png" | prepend: site.baseurl %}
    {% endif %}
    
    <div class="author_img_container padd">
        <img class="author_img" src="{{ author_photo }}"/>
    </div>
    
    <div class="author_name_location_container">
        <h2 class="author_name padd">{{ author.name }}</h2>
    
        <div class="author_location"><i class="fa fa-globe"></i> {{author.location}}</div>
    </div>
    
    <p class="author_description padd">{{ author.description }}</p>
    
    <hr/>
    
    <ul class="post-list">
        {% for post in site.posts %}
            {% if post.author contains page.author %}

            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% unless year == this_year %}
                {% assign year = this_year %}
                <h2 class="padd post-year-header">Artikler fra {{ year }}</h2>
            {% endunless %}

            <li>
                <h2 class="post-heading padd">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                
                <span class="post-meta padd">
                    {{ post.date | date: "%b %-d, %Y" }} 
                </span>
                
                <div class="post-excerpt padd">
                    {{ post.excerpt }}
                    <a href="{{ post.url | prepend: site.baseurl }}">[...]</a>
                </div>
                
                <div class="padd post-tags">
                {% for tag in post.tags %}
                    <a class="post-tag" href="{{ site.baseurl }}/tag/{{ tag }}" itemprop="name">
                        #{{ tag }}
                    </a>
                {% endfor %}
                </div>
                
                <hr/>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>