---
layout: default
footer: false
---

<div id="blog-archives" class="author">
    {% assign author = site.data.authors[page.author] %}
    {% if author.img %}
        {% assign author_photo = author.img %}
    {% elsif file_exists {{ "img/authors/" + {{ page.author }} + ".png" }} %}
        {% assign author_photo = page.author | append: ".png" | prepend: "/img/authors/" | prepend: site.baseurl %}
    {% else %}
        {% assign author_photo = page.author | append: ".png" | prepend: "/img/authors/" | prepend: site.baseurl %}
    {% endif %}
    
    <div class="author_img_container">
        <img class="author_img" src="{{ author_photo }}"/>
    </div>
    <h2 class="author_name">{{ author.name }}</h2>
    
    <p class="author_description">{{ author.description }}</p>
    
    <hr/>
    
    <ul class="post-list">
        {% for post in site.posts %}
            {% if post.author contains page.author %}

            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% unless year == this_year %}
                {% assign year = this_year %}
                <h2>Artikler fra {{ year }}</h2>
            {% endunless %}

            <li>
                <h2 class="post-heading">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>

                {{ post.excerpt }}
                <hr/>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>