---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header padd">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" 
              itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
        </time>
        by 
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <a href="{{ site.baseurl }}/authors/{{ page.author }}" itemprop="name">
                {{ site.data.authors[page.author].name }}
            </a>
        </span>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <div class="padd">
    <div id="twitter-container">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.twitter_username }}">Tweet</a>
    </div>
    <div class="fb-share-button" data-href="{{ page.url | prepend: site.url }}" data-layout="button_count" data-mobile-iframe="true"></div>
  </div>
  
  <div class="padd">
    {% for tag in page.tags %}
        <a class="post-tag" href="{{ site.baseurl }}/tag/{{ tag | downcase }}" itemprop="name">
            #{{ tag }}
        </a>
    {% endfor %}
  </div>

</article>
